
h1 {
  font-size: 24px;
  font-family: tahoma;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 82px;
}
.center {
  text-align: center;
}

.box {
  width: 100px;
  height: 90px;
  padding: 10px;
  margin: auto;
}
.col-xs-1, 
.col-sm-5, 
.col-md-4, 
.col-lg-2 {
  margin-bottom: 25px;
}
.image {
  min-height: 77px;
  margin-bottom: 15px;
}
p {
  font-weight: bold;
  font-size: 16px;
  font-family: tahoma;
  height: 40px;
  width: 125px;
  margin: auto;
  padding-top: 15px;
}